apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: server
  name: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - image: to-do-app
        name: server
        ports:
        - containerPort: 3000
          name: server
        env:
        - name: MONGO_URL
          value: mongodb://db
        envFrom:
        - secretRef:
            name: dot-env-secret
