apiVersion: v1
kind: Service
metadata:
  labels:
    app: server
  name: server
spec:
  type: NodePort
  ports:
  - name: "server-service"
    port: 3000
    targetPort: 3000
  selector:
    app: server
